<section class="contenedor contenido-principal ">
    <h1>{{'contacto.contacto' | translate}}</h1>
    <div class="contacto">
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.96570143258214!2d3.8413158160966727!3d40.002574414745915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be04098246d5ed%3A0xbcf57b5eae7d7123!2sPIZZER%C3%8DA%20LA%20BELLA%20ITALIA!5e0!3m2!1ses-419!2ses!4v1691678262714!5m2!1ses-419!2ses"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3>{{'contacto.ubicacion' | translate}}</h3>
            <p><i class="fa-solid fa-map-pin"></i> {{'contacto.direccion' | translate}} <span
                    class="negrita">{{'contacto.pueblo' | translate}}</span></p>
        </div>
        <div class="informacion">
            <ul>
                <li>
                    <h3>{{'contacto.horario' | translate}} </h3> <i class="fa-solid fa-clock"></i>{{'contacto.horario-abierto' | translate}} <span
                        class="negrita">{{'contacto.hora-cierre' | translate}} </span>
                </li>
                <li >
                    <h3>{{'contacto.horarioVerano' | translate}}</h3>
                </li>
                <li><i class="fa-solid fa-pizza-slice"></i>{{'contacto.reparto' | translate}} <span class="negrita">{{'contacto.sin-costo-reparto' | translate }}</span></li>
                <li><i class="fa-regular fa-credit-card"></i>{{'contacto.pago-tarjeta' | translate}} <span
                        class="negrita">{{'contacto.desde-casa' | translate}}</span></li>
                <li>
                    <h3>{{'contacto.telefonos-de-contacto'| translate}}</h3>
                    <p><a href="tel:+34871020595">871 020 595</a> - <a href="tel:+34685177889">685 177 889</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="novedad">
        <img src="../../../assets/img/novedad.png" alt="Novedad">


        <h3>{{'contacto.colaboracion'|translate}} <span>{{'contacto.nombre-colaboracion'| translate}}</span> </h3>

    </div>

</section>