<footer class="footer">
    <div class="contenedor contenido-footer bg-white">
        <div class="footer-box ubicacion">
            <h3>{{'contacto.ubicacion'|translate}}</h3>
            <p>{{'contacto.direccion'| translate}}</p>
            <p>{{'contacto.pueblo'|translate}}</p>
        </div>
        <div class="footer-box reservacion">
            <h3>{{'footer.reservacion' | translate}}</h3>
            <p>Tel. 871 020 595</p>
            <a href="tel:+34871020595">{{'footer.llamar' | translate}}</a>
            <p>Tel. 685 177 889</p>
            <a href="tel:+34685177889">{{'footer.llamar' | translate}}</a>
        </div>
        <div class="footer-box horario">
            <h3>{{'contacto.horario'|translate}}</h3>
            <p class="cierre">{{'footer.dias'| translate}}</p>
            <p>{{'footer.cierres' | translate}}</p>
        </div>
    </div>
    <p class="copyright">{{'footer.derechos'| translate}} &copy;. <span>La bella Italia</span></p>
</footer>